.footer__column-link_icon_vk::before {
  content: "";
  display: inline-flex;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-image: url(../../../../images/vk_color_white.svg);
  background-repeat: no-repeat;
}
